<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBu6a7I3qIK1hGV7X2ETjT5zbWNxlmkcsI</string>
	<key>GCM_SENDER_ID</key>
	<string>566873741825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forty.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-ls</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-ls.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566873741825:ios:fb5ec978b359f01686fe00</string>
</dict>
</plist>